.msg-show-people
  font-size: 10vh
  color: #909090
  md-icon.big
    font-size: 16vh
  strong
    color: black
    font-weight: 600
    font-size: 18vh
    text-align: right
    display: inline-block
    width: 2.25em
    padding-right: .25em
