{{#paper-item class="md-3-line msg-show-time"}}
  {{paper-icon item.icon classNames="big"}}
  <div class="md-list-item-text">
    <strong>
      {{item.text}}
    </strong>
  </div>
  {{paper-divider inset=true}}
{{/paper-item}}