<body>

<div class="flex layout-row" role="main">
  <md-content class="md-padding md-default-theme flex">
    {{outlet}}
  </md-content>
</div>

<footer class="app-footer">
  <span class="float-right">
  </span>
</footer>
</body>