{{title "Ekran"}}

<div class="inverted">

  <div class="flex no-select">
    {{msg-show}}
  </div>

  <div class="flex no-select">
    {{timer-counter}}
  </div>
  <div class="no-select layout-row layout-align-center">
    {{whats-the-time}}
  </div>

</div>

